
.form-field {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .form-field-label {
    font-size: 14px;
    font-weight: 500;
    color: #f5f5f5;
  }
  
  .form-field-input {
    border: none;
    border-radius: 4px;
    background-color: #c28840;
    color: #fff;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    padding: 0.75rem 1rem;
  }
  
  .form-field-input::placeholder {
    color: #fff;
    opacity: 0.7;
  }
  
  .form-field-input.number-input-input {
    width: 100px;
  }
  
  .form-field-input.multiline {
    resize: vertical;
    min-height: 100px;
  }
  